.data-visualizations {
  margin-top: 20px;
  margin-left: 71px;
  
  .selectors {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .confirm-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      margin-top: 20px;
    }
  
    .confirm-button:hover {
      background-color: #0056b3;
    }

    > div {
      flex: 1;
      margin-right: 10px;
      
      &:last-child {
        margin-right: 0;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }
      
    }

  }

  .summary-and-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .facility-image {
      flex: 1;
      max-width: 45%;
      margin-right: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
    

    .percentage-increase-cards {
      flex: 1;
      display: flex;
      justify-content: space-around;

      .card {
        flex: 0 0 45%;
        text-align: center;
      }
    }
  }

  .visualization-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

   
    .chart-container {
      flex: 1;
      max-width: 60%; /* Increased width */
      height: 100%; /* Increased height */
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      border-radius: 10px;
      margin-right: 90px;
      margin-top: 41px;
    }
  }
}