$input-btn-padding-y-lg: 0.5rem !default; // Updated vertical padding
$input-btn-padding-x-lg: 8.5rem !default; // Updated horizontal padding
$input-btn-font-size-lg: 1rem !default; // Updated font size

@import "~bootstrap/scss/bootstrap";